.button-default {
  padding: 20px 30px;
  color: #ffffff;
  font-size: 18px;
  background: #f65261;
  border-radius: 5px;
  border: 0;
  user-select: none;

  &:hover {
    background: #f63c4d;
  }

  &:active {
    background: #dd3744;
  }
};
